.tel-body
  .tel-body__header
    = link_to "",class:'tel-body__header__icon' do
      = image_tag 'logo',width:"185", height: "49"
    = render 'shared/signup-header'
  .tel-center
    .tel-center__upper
      %h2.tel-center__upper__check 電話番号の確認
      .tel-center__under
        = form_with model: @user, url: address_signup_index_path, local: true, method: :get do |f|
          .tel-center__under__main
            .tel-center__under__main__form
              = f.label :携帯電話の番号, class: 'tel-center__under__main__form__label'
              = f.telephone_field :phone_number, placeholder: "携帯の電話番号を入力", class: 'tel-center__under__main__form__input'
              %p.tel-center__under__main__form__in
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              = f.submit '次へ', class: 'btn-red'
              %p.tel-center__under__main__form__in
                ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .tel-center__under__main__form__right
                = link_to root_path ,class:"right" do
                  .right-t
                    電話番号の確認が必要な理由
                    %i.tel-center__under__main__form__right
                      = fa_icon 'chevron-right'
  .tel_body__footer
    = render "shared/sub-footer"