= render "shared/main-header"
- breadcrumb :edit
= render "shared/breadcrumbs"
.edit-main-box
  .edit-main
    %section.edit-box
      %h1.item-name
        = @item.name
      .item-main
        .item-main__photo
          .slick
            - @item.item_images.each do |item_image|
              .slick-items= image_tag "#{item_image.image.url}"
          .thumbnail
            - @item.item_images.each do |item_image|
              .thumbnail-items= image_tag "#{item_image.image.url}"
        .item-main__sold-out
          .item-main__sold-out__budge
        %table.item-main__detail
          %tbody.item-main__detail__table
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                出品者
              %td.item-main__detail__table__point__body
                = link_to "", class:"item-main__detail__table__point__body__link" do
                  = @item.seller.nickname
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                カテゴリー
              %td.item-main__detail__table__point__body
                = link_to "", class:"item-main__detail__table__point__body__link" do
                  .item-main__detail__table__point__body__link__figure
                    = @item.category.root.name
                = link_to "", class:"item-main__detail__table__point__body__link" do
                  .item-main__detail__table__point__body__link__box
                    = fa_icon "chevron-right", class:"bread-crumbs__list__point__body__link__box__arrow"
                    = @item.category.parent.name
                = link_to "", class:"item-main__detail__table__point__body__link" do
                  .item-main__detail__table__point__body__link__box
                    = fa_icon "chevron-right", class:"bread-crumbs__list__point__body__link__box__arrow"
                    = @item.category.name
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                ブランド
              %td.item-main__detail__table__point__body
                = link_to "", class:"item-main__detail__table__point__body__link" do
                  メルカリ
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                商品のサイズ
              %td.item-main__detail__table__point__body
                FREE
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                商品の状態
              %td.item-main__detail__table__point__body
                = @item.status_i18n
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                配送料の負担
              %td.item-main__detail__table__point__body
                = @item.delivery_cost_i18n
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                配送料の方法
              %td.item-main__detail__table__point__body
                = @item.delivery_way_i18n
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                配送元地域
              %td.item-main__detail__table__point__body
                = link_to "", class:"item-main__detail__table__point__body__link" do
                  = @item.prefecture.name
            %tr.item-main__detail__table__point
              %th.item-main__detail__table__point__head
                発送日の目安
              %td.item-main__detail__table__point__body
                = @item.delivery_date_i18n
      .item-price
        %span.item-price__figure
          = number_to_currency(@item.price, :locale => 'jp')
        %span.item-price__tax
          (税込)
        %span.item-price__shipping
          送料込み
      .edit-show
        %p.edit-show__font
          = @item.explain
    .edit-button
      = link_to edit_item_path(@item), class: 'edit-btn' do
        商品の編集
      %p.edit-or
        or
      %form.edit-stop
        出品を一旦停止する
      %button.edit-stop
        この商品削除する
    .edit-message
      .edit-message__box
        .edit-content
          %input.edit-content__in
          %p.edit-content__stop
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.edit-content__come
          %button.edit-content__btn
            コメント
    .individuallack
    .delete
      .delete-item
        .delete-box
          .delete-box__text 
            確認
          .delete-box__text2
            消去すると二度と復活できません。
          .delete-box__text3
            消去する代わりに停止することもできます。
          %br
          .delete-box__text4
            本当に消去しますか？
        .delete-buttom
          .delete-buttom__text
            キャンセル
          = link_to item_path(@item.id), method: :delete, class:'delete-btn' do
            削除する
= render "shared/main-footer"