.pay-body
  = render 'shared/main-header'
  - breadcrumb :card
  = render "shared/breadcrumbs"
  %nav.header-next
    %ul.header-next__next
      %li.header-next__next__list
        = link_to '',class:"header-next__next__list__link" do
          %span
          メルカリ
          = fa_icon "angle-right", class: "angle-icon-header"
      %li.header-next__next__list
        = link_to '',class:"header-next__next__list__link__action" do
          %span
          マイページ
  %main.pay-center
    = render 'mypage/side-bar'
    .pay-center__upper
      %h2.pay-center__upper__way 支払い方法
      .pay-under
        .pay-main
          = form_with url: pay_card_index_path, class: "pay-main__form", method: :post, id: "charge-form", html: {name:"inputForm"} do |f|
            %label.pay-mail__form__label
              カード番号
            %span.pay-main__form__required
              必須
            = f.text_field :number, class: "pay-main__form__text", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
            .pay-main__form__card-icon
              %li.pay-main__form__card-icon__i__f
                = image_tag 'visa.svg', alt:'visa', width:'49', height:'20'
              %li.pay-main__form__card-icon__i
                = image_tag 'master-card.svg',alt:'master-card', width:'34', height:'20'
              %li.pay-main__form__card-icon__i
                = image_tag 'saison-card.svg',alt:'saison-card', width:'30', height:'20'
              %li.pay-main__form__card-icon__i
                = image_tag 'jcb.svg',alt:'jcb', width:'32', height:'20'
              %li.pay-main__form__card-icon__i
                = image_tag 'american_express.svg',alt:'american_express', width:'21', height:'20'
              %li.pay-main__form__card-icon__i
                = image_tag 'dinersclub.svg',alt:'dinersclub', width:'32', height:'20'
              %li.pay-main__form__card-icon__i
                = image_tag 'discover.svg',alt:'discover', width:'32', height:'20'
            .pay-main__form
              %label.pay-main__form__label
                有効期限
              %span.pay-main__form__required
                必須
              .pay-main__form__date
                = f.select :exp_month, [["--",""], ["01",1], ["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: "card_date"
                %span 月/
              .pay-main__form__date
                = f.select :exp_year, [["--",""], ["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: "card_date"
                %span 年
            .pay-main__form
              %label.pay-main__form__label
                セキュリティコード
              %span.pay-main__form__required
                必須
              = f.text_field :cvc, class: "pay-main__form__text", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
              #card_token
              = f.submit "次へ進む", id: "token_submit", class: "pay-main__form__next"
  = render 'shared/main-footer'
  = render "shared/red-camer"