= render 'shared/main-header'
- breadcrumb :list
= render "shared/breadcrumbs"
%main.card-main
  = render 'side-bar'
  .card
    %section.chapter-list
      %h2.list-chapter
        出品した商品
      %ul.list-tabs
        %li.list-active.active-list
          %h3.list-box.line-red
            = link_to "", class: 'list-box__font' do
              出品中
        %li.list-active
          %h3.list-box
            = link_to "", class: 'list-box__font' do
              取引中
        %li.list-active
          %h3.list-box
            = link_to "", class: 'list-box__font' do
              売却済み
      .list-content
        %ul.list-item
          - if @items
            = render partial: "item", collection: @items 
          - else
            %li.list-item__font
              出品中の商品がありません
    %ul.mypage-list
      %li.mypage-list__box.list-pager
        = link_to "", class: 'mypage-link' do
          = fa_icon 'chevron-left', class: 'list-icon'
      %li.mypage-list__box2.list-pager
        = link_to "", class: 'mypage-link' do
          = fa_icon 'chevron-right', class: 'list-icon'


= render 'shared/main-footer'
= render "shared/red-camer"