= render 'shared/main-header'
- breadcrumb :logout
= render "shared/breadcrumbs"
%main.card-main
  = render 'side-bar'
  .card
    .logout-content
      .logout-content__in
        = link_to 'logout-button', class: 'logout-content__in' do
          ログアウト
= render 'shared/main-footer'
= render "shared/red-camer"